<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="navigation" mode="over" opened="false">
    <mat-toolbar>Навигация</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/add-purchase']" (click)="drawer.close()">
        Добавить общую покупку
      </a>
      <a mat-list-item [routerLink]="['/pay-debt']" (click)="drawer.close()">
        Погасить долг
      </a>
      <a mat-list-item [routerLink]="['/balance']" (click)="drawer.close()">
        Узнать балансы
      </a>
    </mat-nav-list>
    <nav *ngIf="authService.currentUser.length">
      <p>Авторизован как {{authService.currentUser}}</p>
      <button mat-raised-button color="primary" (click)="authService.logout()">
        Выйти
      </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Балансировщик долгов</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>