.pay-form-page{  
    display: flex;
    flex: 1;
}

.description {
    margin: 0;
}
  
.pay-form {
    width: 100%;
}

.pay-ways {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.pay-way {
    padding-top:5px;
    padding-bottom:5px;    
}

.full-width {
    width: 100%;
}

.spinner {  
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
  