.root {
  display: flex;
  flex: 1;
  flex-direction: column;  
  padding-bottom: 30px;
}

.balance-panel {
  margin: 0;
  margin-bottom: 65px;
}

.balance-panel:last-child {
  margin-bottom: 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;

  font-size: 24px;
  font-weight: bold;
}

.title-amount {
  color: #8a8a8a;
}

.pay-button {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-button:last-child {
  margin-bottom: 0px;
}

.creditor-name {
  display: inline;
  font-weight: bold;  
}

.debtors {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;  
}

.debtor {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.debtor:last-child {
  margin-bottom: 0;
}

.debtor-name, .debtor-amount {
  flex: 0;
  white-space: nowrap;
}

.debtor-underline {
  flex: 1;
  border-bottom: 1px solid #673ab7;

  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.spinner {  
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}